{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Book Appointments</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
<!--<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">-->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<!-- Latest compiled JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>-->

<style>
body {
  background-size: cover;
}
.icon {
  margin-right: 12%;
}
.sidebar {
  margin-top: 5%;
  padding: 10px;
  width:20%;
  background-color: #1a1a1a;
  position: fixed;
  height: 80%;
  overflow: auto;
  opacity: 0.9;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  margin-top: 8%;
}
 
.sidebar a.active {
  background-color: white;
  color: black;
} 

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  /*padding: 1px 16px;*/
  width:74%;
}

.div {
    background-color: #1a1a1a;
    margin-top: 68px;
    margin-left: 10%;
    /*padding: 45px;*/
    opacity: 0.9;
    height: 525px;
}

.head {
  color: white;
    font-size: 42px;
}

.text {
  color: white;
    font-size: 16px;
}

.btndiv {
   margin-top: 3%;
}
.btn1 {
  padding: 10px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.btn1:hover {
  padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.btn2 {
  padding: 10px;
    color: black;
    background-color: white;
    margin-left: 1%;
    cursor: pointer;
    text-decoration: none;
}
.btn2:hover {
    padding: 10px;
    color: white;
    border: 1px solid white;
    margin-left: 1%;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.act{
      border: green 3px solid;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
</head>

<body style="background-image: url(/static/images/admission.png);">

<div class="sidebar">
  <a href="/viewdetails">My Details</a>
  <a href="/bookappointments" class="active">Book Appointments</a>
  <a href="/viewbooking" >View Booking</a>
  <!--<a href="/searchdoctor" >Search Doctor</a>-->
  <a href="/feedback" >Feedback</a>
  <a href="/logout" >Logout</a>
</div>

<div class="content">
  <div class="col-md-12 div">

<div class="col-md-12" style="padding: 0px;margin-bottom: 18px;"> 
<div class="col-md-4" style="padding: 0px;margin-top: 6px;"> </div>
<div class="col-md-4" style="padding: 0px;margin-top: 6px;"> 

         <h4 style="color: white;">Category</h4>
     <select name="category" class="form-control txtbox1 categorys">
       <option value="General Physician">General Physician</option>
       <option value="Bone">Bone</option>
       <option value="Heart">Heart</option>
       <option value="Dentist">Dentist</option>
       <option value="Neurologist">Neurologist</option>
       <option value="Kidney">Kidney</option>
       <option value="Cardiologist">Cardiologist</option>
     </select>

     <h4 style="color: white;">Doctor Name</h4>
        <select name="doctor" class="form-control txtbox1 doctors">
            {% for s in main.doctor_details %}
            <option value="{{ s.id }}">{{ s.name }}</option>
            {% endfor %}   
        </select>

     <h4 style="color: white;">Appointment Date</h4>
      <div class="form-group"> 
           <input  type="text" class="form-control" id="appoint_date" placeholder="mm/dd/yyyy" />                      
      </div>  

    <center>  <button type="button" class="btn btn-default choose_slot">Choose Slot</button> </center>

</div>
<div class="col-md-4" style="padding: 0px;margin-top: 44px;">
    <center>  <button type="button" class="btn btn-default book_slot">Book</button> </center>
 </div>

</div>

<div class="appoint_slot" style="">

</div>


  </div>
</div>


<!--<script>

$('.regions').on('change', function(){

  var region = $(this).val(); 
  var string = "";
    $('.institutes').html('');

  if(region == '1'){
          
  var institute = ["Atharva College of Engineering", "RJIT", "Dj Sanghvi", "Thakur College of Engineering","L.R Tiwari","S.T Francis"];
  var code = ["Atharva","RJIT","Sanghvi","Thakur","Tiwari","Francis"];

           for(i = 0; i < institute.length; i++){ 
             string += '<option value="'+code[i]+'">'+institute[i]+'</option>';
           }

           $('.institutes').html(string);         

  }else if(region == '2' ){

      var institute = ["Rizvi", "Vidyalankar", "Thadomal","Fr. agnel"];
          var code = ["Rizvi","Vidyalankar","Thadomal","Agnel"]; 

           for(i = 0; i < institute.length; i++){ 
             string += '<option value="'+code[i]+'">'+institute[i]+'</option>';
           }

           $('.institutes').html(string);   


  }else{

         var institute = ["S.t john", "Universal", "Theam", "Viva", "Vartak"];
         var code = ["John","Universal","Theam","Viva","Vartak"];

           for(i = 0; i < institute.length; i++){ 
             string += '<option value="'+code[i]+'">'+institute[i]+'</option>';
           }

           $('.institutes').html(string);            

  }

});


</script>-->

<script type="text/javascript">

            $(function(){

                today = new Date();

                $('#appoint_date').datepicker({
                     onClose: function(date, datepicker){
                    if (date != "") {
                      console.log(date);
                    }
                },
                    format:'mm/dd/yyyy',
                    startDate:'+0d', 
                    todayHighlight: true,
                    autoclose: true,

                }).datepicker("setDate",'now');

            });


$(".choose_slot").click(function(){

   apt_date = $("#appoint_date").val();
   doctorid = $(".doctors").val();

    $.ajax({
        url: '/getslot/',
        data: {
          'appoint_date': apt_date, 
          'doctorid': doctorid
        },
        dataType: 'json',
        success: function(data){

            var str = '';

            if(data.update == 'yes'){
 
            var slot_detail = data.slot_detail;

            var slot1 = slot_detail[0][0];
            var slot2 = slot_detail[0][1];
            var slot3 = slot_detail[0][2];
            var slot4 = slot_detail[0][3];
            var slot5 = slot_detail[0][4];
            var slot6 = slot_detail[0][5];
            var slot7 = slot_detail[0][6];
            var slot8 = slot_detail[0][7];
            var slot9 = slot_detail[0][8];
            var slot10 = slot_detail[0][9];
            var slot11 = slot_detail[0][10];
            var slot12 = slot_detail[0][11];
            var slot13 = slot_detail[0][12];
            var slot14 = slot_detail[0][13];
            var slot15 = slot_detail[0][14];
            var slot16 = slot_detail[0][15];
            var slot17 = slot_detail[0][16];
            var slot18 = slot_detail[0][17];

            str = '<center><p style="color: white;">Morning Appointment</p></center>';
            str += '<div class="col-md-12" style="padding: 0px;margin-bottom: 10px;">'; 
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '<div class="col-md-8" style="padding: 0px;">';

            if(slot1 == 'no'){
              str += '<button type="button" value="1" class="btn btn-default clk" >9:00-9:30</button>';
            }else{
              str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;">9:00-9:30</button>';
            }
            
            if(slot2 == 'no'){
            str += '<button type="button" value="2" class="btn btn-default clk" style="margin-left: 6px;">9:30-10:00</button>';
            }else{
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 6px;">9:30-10:00</button>'; 
            }

            if(slot3 == 'no'){
            str += '<button type="button" value="3" class="btn btn-default clk" style="margin-left: 6px;">10:00-10:30</button>';
            }else{
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 6px;">10:00-10:30</button>'; 
            }

            if(slot4 == 'no'){
            str += '<button type="button" value="4" class="btn btn-default clk" style="margin-left: 6px;">10:30-11:00</button>';
            }else{
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 6px;">10:30-11:00</button>';
            }

            if(slot5 == 'no'){
            str += '<button type="button" value="5" class="btn btn-default clk" style="margin-left: 6px;">11:00-11:30</button>';
            }else{
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 6px;">11:00-11:30</button>';
            }

            if(slot6 == 'no'){
            str += '<button type="button" value="6" class="btn btn-default clk" style="margin-left: 6px;">11:30-12:00</button>';
            }else{
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 6px;">11:30-12:00</button>';
            }

            str += '</div>';
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '</div>';

            str += '<center><p style="color: white;">Afternoon Appointment</p></center>';
            str += '<div class="col-md-12" style="padding: 0px;margin-bottom: 10px;">'; 
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '<div class="col-md-8" style="padding: 0px;">';

            if(slot7 == 'no'){
            str += '<button type="button" value="7" class="btn btn-default clk" >1:30-2:00</button>';
            }else{
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;">1:30-2:00</button>'; 
            }

            if(slot8 == 'no'){
            str += '<button type="button" value="8" class="btn btn-default clk" style="margin-left: 18px;">2:00-2:30</button>';
            }else{
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 18px;">2:00-2:30</button>';       
             }

            if(slot9 == 'no'){
            str += '<button type="button" value="9" class="btn btn-default clk" style="margin-left: 18px;">2:30-3:00</button>';
            }else{
           str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 18px;">2:30-3:00</button>'; 
            }

           if(slot10 == 'no'){
            str += '<button type="button" value="10" class="btn btn-default clk" style="margin-left: 18px;">3:00-3:30</button>';
            }else{
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 18px;">3:00-3:30</button>'; 
            }

           if(slot11 == 'no'){
            str += '<button type="button" value="11" class="btn btn-default clk" style="margin-left: 18px;">3:30-4:00</button>';
           }else{ 
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 18px;">3:30-4:00</button>';
           }

           if(slot12 == 'no'){
            str += '<button type="button" value="12" class="btn btn-default clk" style="margin-left: 18px;">4:00-4:30</button>';
            }else{ 
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 18px;">4:00-4:30</button>'; 
            }

            str += '</div>';
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '</div>';

            str += '<center><p style="color: white;">Evening Appointment</p></center>';
            str += '<div class="col-md-12" style="padding: 0px;">'; 
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '<div class="col-md-8" style="padding: 0px;">';

            if(slot13 == 'no'){
            str += '<button type="button" value="13" class="btn btn-default clk">6:00-6:30</button>';
            }else{ 
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;">6:00-6:30</button>'; 
            }

            if(slot14 == 'no'){
            str += '<button type="button" value="14" class="btn btn-default clk" style="margin-left: 18px;">6:30-7:00</button>';
            }else{ 
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 18px;">6:30-7:00</button>';
            }

            if(slot15 == 'no'){
            str += '<button type="button" value="15" class="btn btn-default clk" style="margin-left: 18px;">7:00-7:30</button>';
            }else{ 
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 18px;">7:00-7:30</button>';
            }

            if(slot16 == 'no'){
            str += '<button type="button" value="16" class="btn btn-default clk" style="margin-left: 18px;">7:30-8:00</button>';
            }else{ 
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 18px;">7:30-8:00</button>'; 
            }

            if(slot17 == 'no'){
            str += '<button type="button" value="17" class="btn btn-default clk" style="margin-left: 18px;">8:00-8:30</button>';
            }else{ 
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 18px;">8:00-8:30</button>'; 
            }

            if(slot18 == 'no'){
            str += '<button type="button" value="18" class="btn btn-default clk" style="margin-left: 18px;">8:30-9:00</button>';
            }else{ 
            str += '<button type="button" class="btn btn-default" style="cursor: none;border:red 3px solid;margin-left: 18px;">8:30-9:00</button>'; 
            }

            str += '</div>';
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '</div>';


            }else{


            str = '<center><p style="color: white;">Morning Appointment</p></center>';
            str += '<div class="col-md-12" style="padding: 0px;margin-bottom: 10px;">'; 
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '<div class="col-md-8" style="padding: 0px;">';

            str += '<button type="button" value="1" class="btn btn-default clk" >9:00-9:30</button>';
            str += '<button type="button" value="2" class="btn btn-default clk" style="margin-left: 6px;">9:30-10:00</button>';
            str += '<button type="button" value="3" class="btn btn-default clk" style="margin-left: 6px;">10:00-10:30</button>';
            str += '<button type="button" value="4" class="btn btn-default clk" style="margin-left: 6px;">10:30-11:00</button>';
            str += '<button type="button" value="5" class="btn btn-default clk" style="margin-left: 6px;">11:00-11:30</button>';
            str += '<button type="button" value="6" class="btn btn-default clk" style="margin-left: 6px;">11:30-12:00</button>';

            str += '</div>';
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '</div>';

            str += '<center><p style="color: white;">Afternoon Appointment</p></center>';
            str += '<div class="col-md-12" style="padding: 0px;margin-bottom: 10px;">'; 
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '<div class="col-md-8" style="padding: 0px;">';

            str += '<button type="button" value="7" class="btn btn-default clk" >1:30-2:00</button>';
            str += '<button type="button" value="8" class="btn btn-default clk" style="margin-left: 18px;">2:00-2:30</button>';
            str += '<button type="button" value="9" class="btn btn-default clk" style="margin-left: 18px;">2:30-3:00</button>';
            str += '<button type="button" value="10" class="btn btn-default clk" style="margin-left: 18px;">3:00-3:30</button>';
            str += '<button type="button" value="11" class="btn btn-default clk" style="margin-left: 18px;">3:30-4:00</button>';
            str += '<button type="button" value="12" class="btn btn-default clk" style="margin-left: 18px;">4:00-4:30</button>';

            str += '</div>';
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '</div>';

            str += '<center><p style="color: white;">Evening Appointment</p></center>';
            str += '<div class="col-md-12" style="padding: 0px;">'; 
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '<div class="col-md-8" style="padding: 0px;">';

            str += '<button type="button" value="13" class="btn btn-default clk">6:00-6:30</button>';
            str += '<button type="button" value="14" class="btn btn-default clk" style="margin-left: 18px;">6:30-7:00</button>';
            str += '<button type="button" value="15" class="btn btn-default clk" style="margin-left: 18px;">7:00-7:30</button>';
            str += '<button type="button" value="16" class="btn btn-default clk" style="margin-left: 18px;">7:30-8:00</button>';
            str += '<button type="button" value="17" class="btn btn-default clk" style="margin-left: 18px;">8:00-8:30</button>';
            str += '<button type="button" value="18" class="btn btn-default clk" style="margin-left: 18px;">8:30-9:00</button>';

            str += '</div>';
            str += '<div class="col-md-2" style="padding: 0px;"> </div>';
            str += '</div>';
         
            }

            $(".appoint_slot").html('');
            $(".appoint_slot").append(str);

        }

      });

});


$(".book_slot").click(function(){

 apt_date = $("#appoint_date").val();
 doctorid = $(".doctors").val();
 slotno = $(".act").val();
 
  if(slotno == undefined){

      alert('Please select a slot');
      return false;

  }else{

    $.ajax({
        url: '/updateslot/',
        data: {
          'appoint_date': apt_date, 
          'doctorid': doctorid,
          'slotno': slotno
        },
        dataType: 'json',
        success: function (data){

            if(data.update == 'yes'){
               location.reload();
            }else{
               location.reload();
            }

        }
      });

}

});


$(".appoint_slot").on('click','.clk',(function(){
  
  $(".clk").removeClass("act");
  $(this).addClass("act");

}));


$(".categorys").change(function(){

  $(".appoint_slot").html('');
  var category = $(this).val();

      $.ajax({
        url: '/changedr/',
        data: {
          'category': category 
        },
        dataType: 'json',
        success: function (data){
           
            var Doctor = data.doctor_details;
            var str = '';

            if(data.update == 'yes'){

                    for(var i = 0; i < Doctor.length; i++){

                          var id = Doctor[i][0];
                          var name = Doctor[i][1];
                          str += '<option value="'+id+'">'+name+'</option>';

                    }
              
                    $(".doctors").html(''); 
                    $(".doctors").append(str);
               
            }else{

                 $(".doctors").html('');
                 $(".doctors").append('<option value="no">No Doctor</option>');
                 alert('No doctors for this category')
            }

        }
      });



});

</script>

</body>
</html>